.boundingBox {
    position: absolute;
    box-shadow: 0 0 0 3px #a463f2 inset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;

    &:hover,
    &.boundingBoxHovered {
        background-color: rgba(164, 99, 242, .5);
    }
}

.container {
    background-color: rgba(255, 255, 255, .75);
}