.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.bg-black-translucent {
  background-color: rgba(0, 0, 0, .75);
}

button {
  cursor: pointer;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: rotate(180deg, 180deg);
  transition: all 250ms ease-in;
}

.transition-group {
  position: relative;
  display: flex;
  justify-content: center;
}

.transition-group > * {
  position: absolute;
}